<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
        <h1 class="mt-5">Order Place Successfully</h1>
        <a href="/orders" class="btn btn-info float-center mt-5">View Orders</a>
            </div>
        </div>
    </div>
</section>